@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}
.navigation{
    width: 100%;
    display: flex ;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    border-bottom: 0.5px rgba(0, 0, 0, 0.218) solid ;
}
.Logo{
    background: url(C:\Users\Tokiniaina\purse_app\react-client\front\src\Picture\1000_F_500757657_aO4HQOutu28TAuxUelSEIPwCN9YX5iaF-removebg-preview.png);
    width: 5%;
    height: 62%;
    background-size: cover;
    background-position: center;
    margin-left: 5%;
}
.navigation>a{
text-decoration: none;
color: rgba(0, 0, 0, 0.695);
margin-left: 2%;
font-optical-sizing: auto;
font-style: normal;
font-size: large;
font-weight: bold;
}
