*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}
.main{
    background-color: rgba(128, 128, 128, 0.104);
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    justify-content: space-around;
    
}
.account{
width: 17%;
height: 80%;
border-radius: 6px;
display: flex;
flex-direction: column;
align-items: start;
padding-left: 1%;
background-color: rgb(251, 249, 249);
}
.species{
    background-color:white;
    width: 57%;
    height: 10%;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.account h3{
font-size: 27px;
font-weight: 200px;
margin-top: 20px;
margin-bottom: 30px;
}
.account p{
    margin-bottom: 2%;
}
.account button{
    width: 90%;
    height: 5vh;
    background-color: rgb(42, 165, 241);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    border-color: transparent;
    border-radius: 15px;
    margin-bottom: 10%;
}
.account input{
    width: 90%;
    height: 5vh;
    border-radius: 5px;
    border: none;
    padding-left: 5%;
    font-size: 15px;
    margin-bottom: 13%;


}
.account select{
    width: 90%;
    padding-left: 5%;
    height: 5vh;
    color: rgba(0, 0, 0, 0.508);
    font-size: 15px;
    border: 0.5px rgba(0, 0, 0, 0.168) solid
}
.symbol{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.argent{
  
    width: 30%;
    height: 70%;
    background: url(../Picture/Money-golden-coins-bunch-of-golden-coins-spending-money-dollar_127485_wh860-removebg-preview.png);
    background-size: cover;
    background-position: center;
   
}
.spc{
    color:rgba(0, 0, 0, 0.182);
}
.value{
    margin-right: 5%;
}